* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body, html {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    width: 100%;
    font-size: large;
}

h1, h2 {
    background-color: #041E42;
    color: #FFC72C;
    white-space: nowrap;
    text-align: center;
}

h1 {
    padding-top: 200px;
    font-size: 95px;
}

h2 {
    font-size: 65px;
}

nav > a {
    font-size: 50px;
    display: inline-block;
    position: relative;
    border: #FFC72C solid 1px;
    padding: 10px;
    color: #FFC72C;
    text-decoration: none;
}

nav {
    padding-top: 160px;
    display: flex;
    justify-content: space-evenly;
}

nav a:hover, nav a:active, .current {
    color: #041E42;
    background-color: #FFC72C;
    border-color: #041E42;
}