* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body, html {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    width: 100%;
    font-size: large;
}

h1 {
    padding: 10px;
    padding-left: 10px;
    background-color: #041E42;
    color: #FFC72C;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar {
    font-size: 25px;
    background-color: #041E42;
    border-bottom: #FFC72C solid 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.navbar a:hover, .navbar a:active {
    color: #041E42;
    background-color: #FFC72C;
    border-color: #041E42;
}

.navelement {
    color: #FFC72C;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    border-left: #FFC72C solid;
    border-right: #FFC72C solid;
}
